html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #313335;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #edc82b;
}

.container#tinder {
    background: #313335;
}

.container#clothes-select {
    background: #313335;
}


#first-logo {
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    z-index: 50;
    top: 40%;
}

#first-logo-title {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 10px;
}

.btn {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

.btn:hover {
    background: #313335;
}


#gender-select-btn-woman {
    width: 30%;
    margin-left: 10%;
    margin-top: 180%;
}

#gender-select-btn-man {
    width: 30%;
    margin: auto;
    margin-top: 180%;
}

#first-logo #begin-btn {
    height: 100%;
    width: 38%;
    margin: auto;
}

.swag-pic {
    height: 120%;
}

.swag-pic.woman {
    position: absolute;
    left: 10.5%;
}

#swag-pic-overlay-woman {
    z-index: 100;
    position: absolute;
    left: 10.5%;
}

.swag-pic.man {
    position: absolute;
    right: 7%;
}

#swag-pic-overlay-man {
    z-index: 100;
    position: absolute;
    right: 7%;
}

#gender-select #swag-pic-overlay-woman:hover {
    background: -webkit-linear-gradient(rgba(237, 200, 43, 0) 10%,
                                        rgba(237, 200, 43, 1) 75%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(237, 200, 43, 0) 10%,
                                   rgba(237, 200, 43, 1) 75%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(237, 200, 43, 0) 10%,
                                     rgba(237, 200, 43, 1) 75%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(237, 200, 43, 0) 10%,
                                           rgba(237, 200, 43, 1) 75%);
}

#gender-select #swag-pic-overlay-man:hover {
    background: -webkit-linear-gradient(rgba(237, 200, 43, 0) 10%,
                                        rgba(237, 200, 43, 1) 75%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(237, 200, 43, 0) 10%,
                                   rgba(237, 200, 43, 1) 75%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(237, 200, 43, 0) 10%,
                                     rgba(237, 200, 43, 1) 75%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(237, 200, 43, 0) 10%,
                                           rgba(237, 200, 43, 1) 75%);
}


/* Justin's code */

.swipeContainer {
    position: absolute;
    width: 700px;
    height: 450px;
    left:50%;
    top:50%;
    margin: -225px 0 0 -350px;
    overflow: hidden;
}

.botSwipeContainer {
    opacity: 0;
}


#no_pic {
    height: 42px;
    margin-top: 200px;
    float: left;
    cursor: pointer;
}

#yes_pic {
    height: 42px;
    margin-top: 200px;
    float: right;
    cursor: pointer;
}

#swipe_box  {
  /*background-color: #fff */
}

.squareContainer {
    background-color: #fff;
    width: 450px;
    height: 450px;

    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    border:1px solid #EDC82B;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    float: center;
    margin-left: 125px;
    overflow: hidden;
}

/*#top-photo-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;

    display: block;
    max-height: 100%;
    overflow: hidden;
}*/

#top-photo {
    height: 100%;
    max-height: 100%;
    margin: auto;

    display: block;
}

#bot-photo {
    height: 100%;
    max-height: 100%;
    margin: auto;

    display: block;
}

#gradient {
    position: absolute;
    z-index: 500;
    background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(237,200,43,0.8) 80%);
    background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(237,200,43,0.8) 80%);
    background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(237,200,43,0.8) 80%);
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(237,200,43,0.8) 80%);

    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    background-size:100%;
    cursor:pointer;
/*    margin-top: 30%;
    width: 100%;
    height: 70%;*/
    opacity: 0;
    width: 450px;
    height: 350px;
    margin-top: 100px;
    margin-left: 125px;
}

#gradient:hover{
    opacity: 1;
    z-index: 500;
}

/*tiffany*/

#home{
    left: 30px;
    top: 30px;
    position: fixed;
    font-size: 3em;
    color: #edc82b;
}
#home:hover{
    color:#696e70;
}
.clothing{
    padding: 5px 20px;
    width: 200px;
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    color: #696e70;
}
.clothing:hover{
    color: #edc82b;
}
#clothes{
    position: fixed;
    left:50%;
    margin-left: -110px;
    top:25%;
    z-index:5;
}
.clothing.active{
    padding: 5px 20px;
    width: 200px;
    height: 64px;
    position: relative;
    text-align: right;
    font-size: 1.6em;
    color: #edc82b;
    margin-bottom: -5px;
}
.category{
    border-width: 0.5px;
    border-style: solid;
    border-color: #edc82b;
    color: #edc82b;
    font-size:14px;
    position: relative;
    margin: 3px 5px;
    left: 70%; 
    width: 70px;
    padding: 3px 2px;
    text-align: center;
    display: inline-block;
    float: left;
    cursor: pointer;
}

.category:hover{
    background: #edc82b;
    color: #313335;
}

.sub{
    position: relative;
    width: 350px;
    top: -30px;
    left: -5px; 
    float: left;   
}

.button {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-decoration: none;
    z-index: 10;
}






















